header {
   padding: 0%;
}

div {
    padding: 1% 0%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 7rem;
    font-weight: bold;
}

h5 {
    font-weight: bolder;
}

.nav {
    text-align: center;
    border: 2px;
    border-style: solid;
    margin: 3% 0;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    font-weight: bold;
}

img#Fish {
    position: relative;
    animation-name: swim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: all;
}

img#Fish:hover {
    scale: 2;
}

@keyframes swim {
    0% {left:100%; right:0%;}
    100% {left: 0%; right: 30%}
}