body {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    color: blue;
    line-height: 130%;
    text-align: left;
    text-transform: lowercase;
    background-image: url("images/blue_stars.png");
    background-repeat: repeat;
}

ul#mainNav {
    list-style-type: square;
    background-color: #ffffff;
}

a:link {
    color: #0000ff;
}

a:visited {
    color: #9932cc;
    text-decoration: line-through;
}

a:hover {
    color: #ff1493;
}

img {
    width: 30%;
    height: 30%;
}