/* Fonts */

.headline {
  font-family: "Instrument Serif", serif;
  font-size: 12.8rem;
  font-weight: 400;
  line-height: 105%;
  margin-bottom: 3%;
}

.header {
  font-family: "Instrument Serif", serif;
  font-size: 6.4rem;
  line-height: 105%;
  margin-bottom: 2%;
}

.emphasis {
  font-family: "Instrument Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2%;
}

.body {
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 2%;
}

.hero {
  background-image: url(../images/KelpForest-min.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  padding-top: 10%;
  color: #ffffff;
}

.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* Alignments */
.center {
  text-align: center;
}

.image {
  margin: 3% 0;
}

/* Id's */


#animal {
  padding: 0 8.66666666667%;
}

/* Media Query */
@media (max-width: 400px) {

  .headline {
    font-size: 7.5rem;
  }

  .header {
    font-size: 3.6rem;
  }

  .emphasis {
    font-size: 2rem;
  }

  .body {
    font-size: 1.4rem;
  }

  .image {
    padding: 3%;
  }

  #HeroImage {
    padding: 10% 1% 1%
  }

}