/* Fonts */

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.headline {
  font-family: "Instrument Serif", serif;
  font-size: 128px;
  font-weight: 400;
  margin-bottom: 5%;
}

.header {
  font-family: "Instrument Serif", serif;
  font-size: 6.4rem;
}

.emphasis {
  font-family: "Instrument Sans", sans-serif;
  font-size: 2.4rem;
}

.body {
  font-family: "Instrument Sans", sans-serif;
  font-size: 1rem;
}

/* Alignments */
.center {
  text-align: center;
}

.alignCol1{
  margin-left: 8.33%;
}

/* Id's */
#MainDescription {
  font-size: 0rem;
}

#HeroImage {
  background-image: url(images/Fish.png)
}